<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31145522014-61hjj12eibjalqh7602q6cg3kpadcs8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31145522014-61hjj12eibjalqh7602q6cg3kpadcs8t</string>
	<key>API_KEY</key>
	<string>AIzaSyDWMs0LFtjY58c3appeeiVe4DRUj8KDDlI</string>
	<key>GCM_SENDER_ID</key>
	<string>31145522014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdullahkaragoz.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-49caa</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-49caa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31145522014:ios:d3e682e6065ea8e47555cf</string>
</dict>
</plist>